In [1]:
import matplotlib.pyplot as plt
import missingno as msno
import numpy as np
import pandas as pd
import seaborn as sns
import pyarrow.parquet as pq

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Leer el archivo Parquet en un DataFrame de Pandas
df_business_yelp = pq.read_table('Archivos/df_business_yelp.parquet').to_pandas()
df_checkin_yelp = pq.read_table('Archivos/df_checkin_yelp.parquet').to_pandas()
df_tip_yelp = pq.read_table('Archivos/df_tip_yelp.parquet').to_pandas()

In [3]:
df_business_yelp.head(2)

,business_id,attribute,condition,day,hour,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,Pns2l4eNsfO8kk83dixA6A,ByAppointmentOnly,True,0:0-0:0,None,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,Sin Informaci贸n,93101,34.426679,-119.711197,5.0,7,0,"Doctors, Traditional Chinese Medicine, Naturop..."
1,mpf3x-BjTdTEA3yCZrAYPw,BusinessAcceptsCreditCards,True,Monday,0:0-0:0,The UPS Store,87 Grasso Plaza Shopping Center,Affton,Sin Informaci贸n,63123,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma..."

In [4]:
df_business_yelp.shape

(7094185, 16)

In [5]:
# Supongamos que tienes un DataFrame llamado df que contiene las columnas 'state' y 'city'

conteo_state = df_business_yelp['state'].value_counts().head(5)
conteo_city = df_business_yelp['city'].value_counts().head(5)
conteo_atribute = df_business_yelp['attribute'].value_counts().head(5)
conteo_category = df_business_yelp['categories'].value_counts().head(5)
print("Conteo de estados:")
print(conteo_state)

Conteo de estados:
PA    1596169
FL    1246134
TN     572672
IN     524743
MO     510802
Name: state, dtype: int64

In [6]:
print("\nConteo de ciudades:")
print(conteo_city)

Conteo de ciudades:
Philadelphia    725905
Tampa           431402
Indianapolis    381895
Tucson          376889
Nashville       349468
Name: city, dtype: int64

In [7]:
print("Conteo de atributos")
print(conteo_atribute)

Conteo de atributos
BusinessAcceptsCreditCards    680843
BusinessParking               520445
RestaurantsPriceRange2        486761
BikeParking                   429623
RestaurantsTakeOut            353636
Name: attribute, dtype: int64

In [8]:
print("Conteo de categorias:")
print(conteo_category)

Conteo de categorias:
Restaurants, Pizza      64094
Restaurants, Mexican    61944
Mexican, Restaurants    56063
Pizza, Restaurants      55861
Restaurants, Chinese    52431
Name: categories, dtype: int64

In [9]:
df_checkin_yelp.shape

(13356875, 3)

In [10]:
df_checkin_yelp.head(2)

              business_id        date      hour
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13  21:10:56
1  ---kPU91CF4Lq2-WlRu9Lw  2020-06-02  22:18:06

In [11]:
conteo_id = df_checkin_yelp['business_id'].value_counts().head(5)
print("Conteo de id:")
print(conteo_id)

Conteo de id:
-QI8Qi8XWH3D8y8ethnajA    52144
FEXhWNCMkv22qG04E83Qjg    40109
Eb1XmmLWyt_way5NNZ7-Pw    37562
c_4c5rJECZSfNgFj7frwHQ    37518
4i4kmYm9wgSNyF1b6gKphg    31168
Name: business_id, dtype: int64

In [31]:
df_tip_yelp.head(2)

,user_id,business_id,text,date,compliment_count
1644,SNZJNz1WEIMECEk-TAYADQ,6Gx45ltNNZvjzVBO6ZgVOg,"Great food, fun place!",2017-10-10 20:13:08,0
11367,00Cz_vdInMHpTRjqbWjK5Q,ncacMQ9n_dSM1cR3c1vTQw,Miss saigon,2010-12-07 01:59:12,0

In [32]:
df_tip_yelp.shape

(59, 5)