In [1]:
import pandas as pd

In [ ]:
import json
data = []
with open(r"C:\Users\alfon\OneDrive\Escritorio\Alfonzo\Henry\ProyectoFina\review-Texas\1.json", "r") as file:
    for line in file:
        data.append(json.loads(line))

wyoming_review3 = pd.DataFrame(data)

# A los efectos de unificar el metodo de extraccion, se concensuo seguir esta codificacion:

In [ ]:
# Función para procesar una línea de JSON y escapar comillas internas
def procesar_linea(linea):
    try:
        # Corregir la línea escapando las comillas dobles internas
        linea_corregida = linea.replace('\\"', '\\\\"')
        
        # Analizar el JSON corregido
        json_data = json.loads(linea_corregida)
        return json_data
    except json.JSONDecodeError as e:
        print(f"Error parsing JSON in line: {linea}")
        print(e)
        return None

data = []

with open(r"C:\Users\alfon\OneDrive\Escritorio\Alfonzo\Henry\ProyectoFina\review-Wisconsin\5.json", "r") as file:
    
    for line in file:
        # Eliminar espacios en blanco al principio y al final de la línea
        line = line.strip()
        
        # Si la línea está vacía, continuar
        if not line:
            continue
        
        # Procesar la línea y agregar los datos al resultado
        json_data = procesar_linea(line)
        if json_data is not None:
            data.append(json_data)

# Crear un DataFrame a partir de la lista 'data'
wi_reviwe5 = pd.DataFrame(data)

# Unimos los df extraidos para cada estado y vamos uniendolos en un solo df por estado.

In [171]:
# Crea una lista con los DataFrames que deseas concatenar
x = [wy_review1, wy_review2, wy_review3]

# Utiliza pandas.concat() para concatenar los DataFrames a lo largo del eje 0 (por defecto)
reviwe_wy = pd.concat(x)

# El resultado es un nuevo DataFrame que contiene la concatenación de los DataFrames originales

# Conteo de nulos por filas y columnas para South Dakota

In [183]:
# Contar los valores nulos para cada fila
conteo_nulos_filas_sd = reviwe_sd.isnull().sum(axis='columns')

print("Conteo de valores nulos por fila:")
print(conteo_nulos_filas_sd)

Conteo de valores nulos por fila:
0        2
1        2
2        2
3        3
4        3
        ..
72310    3
72311    3
72312    3
72313    3
72314    3
Length: 668466, dtype: int64

In [182]:
# Contar los valores nulos por columna:
conteo_nulos_column_sd = reviwe_sd.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_sd)

Conteo de valores nulos por columna:
user_id         0
name            0
time            0
rating          0
text       325783
pics       652993
resp       586753
gmap_id         0
dtype: int64

# Duplicados South Dakota

In [ ]:
#registros_duplicados_sd = reviwe_sd.duplicated()
reviwe_sd.duplicated().sum()

# Conteo de nulos por filas y columnas para Tennessee

In [184]:
# Contar los valores nulos para cada fila
conteo_nulos_filas_te = reviwe_te.isnull().sum(axis='columns')

print("Conteo de valores nulos por fila:")
print(conteo_nulos_filas_te)

Conteo de valores nulos por fila:
0         1
1         2
2         2
3         2
4         2
         ..
149118    3
149119    3
149120    3
149121    3
149122    3
Length: 1785442, dtype: int64

In [185]:
# Contar los valores nulos por columna:
conteo_nulos_column_te = reviwe_te.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_te)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        778900
pics       1742581
resp       1534887
gmap_id          0
dtype: int64

# Conteo de nulos por filas y columnas para Texas

In [188]:
# Contar los valores nulos por fila:
conteo_nulos_filas_tx = reviwe_tx.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_filas_tx)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        918533
pics       2203049
resp       1903993
gmap_id          0
dtype: int64

In [187]:
# Contar los valores nulos por columna:
conteo_nulos_column_tx = reviwe_tx.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_tx)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        918533
pics       2203049
resp       1903993
gmap_id          0
dtype: int64

# Conteo de nulos por filas y columnas para Utah

In [189]:
# Contar los valores nulos por fila:
conteo_nulos_filas_ut = reviwe_ut.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_filas_ut)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        563839
pics       1433088
resp       1235460
gmap_id          0
dtype: int64

In [190]:
# Contar los valores nulos por columna:
conteo_nulos_column_ut = reviwe_ut.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_ut)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        563839
pics       1433088
resp       1235460
gmap_id          0
dtype: int64

# Conteo de nulos por filas y columnas para Vermont

In [191]:
# Contar los valores nulos por fila:
conteo_nulos_filas_vm = reviwe_vm.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_filas_vm)

Conteo de valores nulos por columna:
user_id         0
name            0
time            0
rating          0
text       146543
pics       312630
resp       295722
gmap_id         0
dtype: int64

In [192]:
# Contar los valores nulos por columna:
conteo_nulos_column_vm = reviwe_vm.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_vm)

Conteo de valores nulos por columna:
user_id         0
name            0
time            0
rating          0
text       146543
pics       312630
resp       295722
gmap_id         0
dtype: int64

# Conteo de nulos por filas y columnas para Virginia

In [193]:
# Contar los valores nulos por fila:
conteo_nulos_filas_vg = reviwe_vg.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_filas_vg)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        712640
pics       1600435
resp       1425426
gmap_id          0
dtype: int64

In [194]:
# Contar los valores nulos por columna:
conteo_nulos_column_vg = reviwe_vg.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_vg)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        712640
pics       1600435
resp       1425426
gmap_id          0
dtype: int64

# Conteo de nulos por filas y columnas para Washington

In [195]:
# Contar los valores nulos por fila:
conteo_nulos_filas_wdc = reviwe_wdc.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_filas_wdc)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        793825
pics       1847463
resp       1702174
gmap_id          0
dtype: int64

In [196]:
# Contar los valores nulos por columna:
conteo_nulos_column_wdc = reviwe_wdc.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_wdc)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        793825
pics       1847463
resp       1702174
gmap_id          0
dtype: int64

# Conteo de nulos por filas y columnas para West_Virginia

In [197]:
# Contar los valores nulos por fila:
conteo_nulos_filas_wv = reviwe_wv.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_filas_wv)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        520782
pics       1056394
resp        982976
gmap_id          0
dtype: int64

In [198]:
# Contar los valores nulos por columna:
conteo_nulos_column_wv = reviwe_wv.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_wv)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        520782
pics       1056394
resp        982976
gmap_id          0
dtype: int64

# Conteo de nulos por filas y columnas para Wisconsin

In [199]:
# Contar los valores nulos por fila:
conteo_nulos_filas_wv = reviwe_wv.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_filas_wv)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        520782
pics       1056394
resp        982976
gmap_id          0
dtype: int64

In [200]:
# Contar los valores nulos por columna:
conteo_nulos_column_wv = reviwe_wv.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_wv)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        520782
pics       1056394
resp        982976
gmap_id          0
dtype: int64

# Conteo de nulos por filas y columnas para Wisconsin

In [201]:
# Contar los valores nulos por fila:
conteo_nulos_filas_wi = reviwe_wi.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_filas_wi)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        800349
pics       1744382
resp       1567298
gmap_id          0
dtype: int64

In [202]:
# Contar los valores nulos por columna:
conteo_nulos_column_wi = reviwe_wi.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_wi)

Conteo de valores nulos por columna:
user_id          0
name             0
time             0
rating           0
text        800349
pics       1744382
resp       1567298
gmap_id          0
dtype: int64

# Conteo de nulos por filas y columnas para Wyoming

In [203]:
# Contar los valores nulos por fila:
conteo_nulos_filas_wy = reviwe_wy.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_filas_wy)

Conteo de valores nulos por columna:
user_id         0
name            0
time            0
rating          0
text       193136
pics       414774
resp       381938
gmap_id         0
dtype: int64

In [204]:
# Contar los valores nulos por columna:
conteo_nulos_column_wy = reviwe_wy.isnull().sum()

print("Conteo de valores nulos por columna:")
print(conteo_nulos_column_wy)

Conteo de valores nulos por columna:
user_id         0
name            0
time            0
rating          0
text       193136
pics       414774
resp       381938
gmap_id         0
dtype: int64

# Convierto el campo 'time' en formato date.

In [222]:
reviwe_sd['time'] = pd.to_datetime(reviwe_sd['time'] // 1000, unit='s')
reviwe_sd.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,103563353519118158246,Peri Gray,2018-01-16 17:11:15,5,Great place to care for our children.,None,None,0x532af45db8f30779:0xd9be9359f1e56178
1,101824980797027243148,Suzy Berndt,2018-07-30 03:45:50,5,Th sw y are so nice,None,None,0x532af45db8f30779:0xd9be9359f1e56178
2,108711640480272772398,Rosemary Red Legs,2018-07-07 13:11:33,5,Went with my daughter,None,None,0x532af45db8f30779:0xd9be9359f1e56178
3,101852294221648460926,Brown Wolf,2018-09-16 08:13:55,2,None,None,None,0x532af45db8f30779:0xd9be9359f1e56178
4,108987444312280650947,C J Blue Coat,2016-09-26 20:39:35,5,None,None,None,0x532af45db8f30779:0xd9be9359f1e56178

In [224]:
# Extraer la fecha en una nueva columna 'fecha'
reviwe_sd['date'] = reviwe_sd['time'].dt.date
reviwe_sd.head()

,user_id,name,time,rating,text,pics,resp,gmap_id,date
0,103563353519118158246,Peri Gray,2018-01-16 17:11:15,5,Great place to care for our children.,None,None,0x532af45db8f30779:0xd9be9359f1e56178,2018-01-16
1,101824980797027243148,Suzy Berndt,2018-07-30 03:45:50,5,Th sw y are so nice,None,None,0x532af45db8f30779:0xd9be9359f1e56178,2018-07-30
2,108711640480272772398,Rosemary Red Legs,2018-07-07 13:11:33,5,Went with my daughter,None,None,0x532af45db8f30779:0xd9be9359f1e56178,2018-07-07
3,101852294221648460926,Brown Wolf,2018-09-16 08:13:55,2,None,None,None,0x532af45db8f30779:0xd9be9359f1e56178,2018-09-16
4,108987444312280650947,C J Blue Coat,2016-09-26 20:39:35,5,None,None,None,0x532af45db8f30779:0xd9be9359f1e56178,2016-09-26

# Para iterar este proceso de conversion y extraccion de la fecha para todos los df referente a los distintos Estados, procedo de la siguiente manera:

In [ ]:
# Crear una lista con los dataframe (excluyo reviwe_sd ya procesado)
lista_df_estados = [reviwe_wy, reviwe_te, reviwe_tx, reviwe_ut, reviwe_wdc, reviwe_vg, reviwe_vm, reviwe_wi, reviwe_wv]

# Iterar sobre la lista de DataFrames
for df in lista_df_estados:
    # Convertir la columna 'time' a formato de fecha y hora
    df['time'] = pd.to_datetime(df['time'])

    # Extraer la fecha en una nueva columna 'fecha'
    df['fecha'] = df['time'].dt.date