In [1]:
# Librerias
import numpy as np
import pandas as pd
from difflib import SequenceMatcher

In [2]:
# Cargo metadata de gmaps ya filtrado en el etl
df_gmaps = pd.read_csv('C:/Users/54280/Documents/GitHub/proyectogrupal/Pruebas/gmaps_filtrado.csv')
# Cargo business de yeld ya filtrado en el etl
df_business = pd.read_parquet('C:/Users/54280/Documents/GitHub/proyectogrupal/Pruebas/business.parquet')

In [3]:
df_business.head(2)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
index,,,,,,,,,,,,,,
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [8]:
# Genero un df unico para ambos df
df_merged = pd.merge(df_gmaps, df_business, on=['latitude', 'longitude'], how='inner')

In [9]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64629 entries, 3 to 150340
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   64629 non-null  object
 1   name          64629 non-null  object
 2   address       64629 non-null  object
 3   city          64629 non-null  object
 4   state         64629 non-null  object
 5   postal_code   64629 non-null  object
 6   latitude      64629 non-null  float64
 7   longitude     64629 non-null  float64
 8   stars         64629 non-null  float64
 9   review_count  64629 non-null  int64
 10  is_open       64629 non-null  int64
 11  attributes    63752 non-null  object
 12  categories    64629 non-null  object
 13  hours         55293 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 7.4+ MB

In [10]:
df_gmaps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441868 entries, 0 to 441867
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        441868 non-null  int64
 1   name              441860 non-null  object
 2   address           439290 non-null  object
 3   gmap_id           441868 non-null  object
 4   description       197047 non-null  object
 5   latitude          441868 non-null  float64
 6   longitude         441868 non-null  float64
 7   category          441868 non-null  object
 8   avg_rating        441868 non-null  float64
 9   num_of_reviews    441868 non-null  int64
 10  price             244781 non-null  object
 11  hours             401547 non-null  object
 12  MISC              436358 non-null  object
 13  state             402667 non-null  object
 14  relative_results  371024 non-null  object
 15  url               441868 non-null  object
 16  estado_categoria  441868 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 57.3+ MB

In [11]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4159 entries, 0 to 4158
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        4159 non-null   int64
 1   name_x            4155 non-null   object
 2   address_x         4159 non-null   object
 3   gmap_id           4159 non-null   object
 4   description       1450 non-null   object
 5   latitude          4159 non-null   float64
 6   longitude         4159 non-null   float64
 7   category          4159 non-null   object
 8   avg_rating        4159 non-null   float64
 9   num_of_reviews    4159 non-null   int64
 10  price             1913 non-null   object
 11  hours_x           3861 non-null   object
 12  MISC              4141 non-null   object
 13  state_x           3861 non-null   object
 14  relative_results  2952 non-null   object
 15  url               4159 non-null   object
 16  estado_categoria  4159 non-null   object
 17  business_id       4159 non-null   object
 18  name_y            4159 non-null   object
 19  address_y         4159 non-null   object
 20  city              4159 non-null   object
 21  state_y           4159 non-null   object
 22  postal_code       4159 non-null   object
 23  stars             4159 non-null   float64
 24  review_count      4159 non-null   int64
 25  is_open           4159 non-null   int64
 26  attributes        4080 non-null   object
 27  categories        4159 non-null   object
 28  hours_y           3683 non-null   object
dtypes: float64(4), int64(4), object(21)
memory usage: 942.4+ KB

In [12]:
# Comparo diferencias en nombres 
son_iguales = df_merged['name_x'].equals(df_merged['name_y'])

In [13]:
# Filtro filas diferentes en nombres
filas_diferentes = df_merged[df_merged['name_x'] != df_merged['name_y']]

In [14]:
filas_diferentes.head(2)

,Unnamed: 0,name_x,address_x,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,...,address_y,city,state_y,postal_code,stars,review_count,is_open,attributes,categories,hours_y
0,17109,Brother Doug's Pizza Cafe,"Brother Doug's Pizza Cafe, 11005 Allisonville ...",0x8814b30f4c7d5b31:0x1e81e6866abca4b5,NaN,39.949625,-86.041843,pizza restaurant,4.8,21,...,11005 Allisonville Rd,Fishers,MO,46038,4.0,44,0,"{'NoiseLevel': 'u'quiet'', 'WiFi': 'u'free'', ...","Restaurants, Pizza","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
1,17109,Brother Doug's Pizza Cafe,"Brother Doug's Pizza Cafe, 11005 Allisonville ...",0x8814b30f4c7d5b31:0x1e81e6866abca4b5,NaN,39.949625,-86.041843,takeout restaurant,4.8,21,...,11005 Allisonville Rd,Fishers,MO,46038,4.0,44,0,"{'NoiseLevel': 'u'quiet'', 'WiFi': 'u'free'', ...","Restaurants, Pizza","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."

In [15]:
# Filtrar las filas donde name_x y name_y son diferentes
filas_diferentes = df_merged[df_merged['name_x'] != df_merged['name_y']]

# Mostrar las columnas 'name_x' y 'name_y' junto con el índice
columnas_deseadas = ['name_x', 'name_y']
resultados = filas_diferentes[columnas_deseadas]

# Imprimir los resultados
print(resultados)

                                        name_x  \
0                    Brother Doug's Pizza Cafe
1                    Brother Doug's Pizza Cafe
2                    Brother Doug's Pizza Cafe
3                    Brother Doug's Pizza Cafe
4                                        Pomme
...                                        ...
4147              Rositas Cocina Original Mxcn
4148              Rositas Cocina Original Mxcn
4153  El Paso Mexican Grill On Magazine Street
4154                                 Wing Shop
4158                         RH Nashville Café

                                       name_y
0                   Brother Doug's Pizza Café
1                   Brother Doug's Pizza Café
2                   Brother Doug's Pizza Café
3                   Brother Doug's Pizza Café
4                            Pomme Restaurant
...                                       ...
4147     Rositas Cocina Original Mexican Food
4148               Sonny's Italian Restaurant
4153                    El Paso Mexican Grill
4154                            Rocket Burger
4158  RH Courtyard Restaurant at RH Nashville

[2835 rows x 2 columns]

In [16]:
resultados

,name_x,name_y
0,Brother Doug's Pizza Cafe,Brother Doug's Pizza Café
1,Brother Doug's Pizza Cafe,Brother Doug's Pizza Café
2,Brother Doug's Pizza Cafe,Brother Doug's Pizza Café
3,Brother Doug's Pizza Cafe,Brother Doug's Pizza Café
4,Pomme,Pomme Restaurant
...,...,...
4147,Rositas Cocina Original Mxcn,Rositas Cocina Original Mexican Food
4148,Rositas Cocina Original Mxcn,Sonny's Italian Restaurant
4153,El Paso Mexican Grill On Magazine Street,El Paso Mexican Grill
4154,Wing Shop,Rocket Burger
4158,RH Nashville Café,RH Courtyard Restaurant at RH Nashville

In [17]:
# Función para calcular la similitud entre dos cadenas
def similarity(s1, s2):
    if isinstance(s1, str) and isinstance(s2, str):
        return str(SequenceMatcher(None, s1, s2).ratio())
    else:
        return 0.0  # Devolver 0.0 si no son cadenas

In [18]:
# Comapraro la similitud de los nombres y guarda en una nueva columna
df_merged['similarity'] = df_merged.apply(lambda row: similarity(row['name_x'], row['name_y']), axis=1)

In [19]:
# Veo el df
df_merged.head(2)

,Unnamed: 0,name_x,address_x,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,...,city,state_y,postal_code,stars,review_count,is_open,attributes,categories,hours_y,similarity
0,17109,Brother Doug's Pizza Cafe,"Brother Doug's Pizza Cafe, 11005 Allisonville ...",0x8814b30f4c7d5b31:0x1e81e6866abca4b5,NaN,39.949625,-86.041843,pizza restaurant,4.8,21,...,Fishers,MO,46038,4.0,44,0,"{'NoiseLevel': 'u'quiet'', 'WiFi': 'u'free'', ...","Restaurants, Pizza","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",0.96
1,17109,Brother Doug's Pizza Cafe,"Brother Doug's Pizza Cafe, 11005 Allisonville ...",0x8814b30f4c7d5b31:0x1e81e6866abca4b5,NaN,39.949625,-86.041843,takeout restaurant,4.8,21,...,Fishers,MO,46038,4.0,44,0,"{'NoiseLevel': 'u'quiet'', 'WiFi': 'u'free'', ...","Restaurants, Pizza","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",0.96

In [20]:
# Voy a reemplazar los nombres de la columna name_y con los de la nombres de la columna name_x cuando la similitud sea mayor a 0.7

# Defino un umbral de similitud
umbral_similitud = 0.7

# Reemplazo los valores en 'name_y' con 'name_x' cuando la similitud sea mayor o igual al umbral
df_merged['name_y'] = df_merged.apply(lambda row: row['name_x'] if float(row['similarity']) >= umbral_similitud else row['name_y'], axis=1)

In [23]:
# Filtro las filas donde name_x y name_y son diferentes
filas_diferentes = df_merged[df_merged['name_x'] != df_merged['name_y']]

# Mostro las columnas 'name_x' y 'name_y' junto con el índice
columnas_deseadas = ['name_x', 'name_y','similarity']
resultados = filas_diferentes[columnas_deseadas]

# Veo los resultados
resultados.head(50)

,name_x,name_y,similarity
4,Pomme,Pomme Restaurant,0.47619047619047616
5,Pomme,Pomme Restaurant,0.47619047619047616
6,Pomme,Pomme Restaurant,0.47619047619047616
7,Pomme,Pomme Restaurant,0.47619047619047616
8,AK Preps & Bakery,AK PREPS AND BAKERY,0.3888888888888889
9,AK Preps & Bakery,AK PREPS AND BAKERY,0.3888888888888889
10,AK Preps & Bakery,AK PREPS AND BAKERY,0.3888888888888889
11,AK Preps & Bakery,AK PREPS AND BAKERY,0.3888888888888889
12,AK Preps & Bakery,AK PREPS AND BAKERY,0.3888888888888889
13,AK Preps & Bakery,AK PREPS AND BAKERY,0.3888888888888889
14,AK Preps & Bakery,AK PREPS AND BAKERY,0.3888888888888889
15,AK Preps & Bakery,AK PREPS AND BAKERY,0.3888888888888889
16,Sweet Life Cakes and Desserts,Bakery 519,0.20512820512820512
17,Sweet Life Cakes and Desserts,Bakery 519,0.20512820512820512
19,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
20,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
21,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
22,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
23,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
24,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
25,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
26,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
27,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
28,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
29,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
30,Clean Juice,Cold Stone Creamery,0.3333333333333333
32,Clean Juice,Cold Stone Creamery,0.3333333333333333
34,Clean Juice,Cold Stone Creamery,0.3333333333333333
36,Clean Juice,Cold Stone Creamery,0.3333333333333333
38,Clean Juice,Cold Stone Creamery,0.3333333333333333
40,Clean Juice,Cold Stone Creamery,0.3333333333333333
43,AVO TACO,Stokehold Restaurant,0.07142857142857142
46,Wanda BYOB,Braise 116,0.2
47,Central BBQ (Hillsboro),Central BBQ,0.6470588235294118
48,Central BBQ (Hillsboro),Sportsman's Grille,0.24390243902439024
50,Sekushi Japanese Sushi and Raw Bar,Godiva Chocolatier,0.07692307692307693
51,Sekushi Japanese Sushi and Raw Bar,Snowrolls,0.09302325581395349
52,Sekushi Japanese Sushi and Raw Bar,Frankie's Lobstah Trap,0.21428571428571427
53,Sekushi Japanese Sushi and Raw Bar,Taps Burger Bar and Gastropub,0.31746031746031744
54,Burger Culture International,Godiva Chocolatier,0.2608695652173913
55,Burger Culture International,Snowrolls,0.16216216216216217
56,Burger Culture International,Frankie's Lobstah Trap,0.16
57,Burger Culture International,Taps Burger Bar and Gastropub,0.2807017543859649
59,The Gas House Grill,Cobalt Smoke & Sea,0.16216216216216217
60,Franco's Pizzeria & Italian Ristorante,Chicken Holiday,0.18867924528301888
61,Franco's Pizzeria & Italian Ristorante,Hubba Hubba Hoagies,0.21052631578947367
62,Jerusalem Market & Restaurant Middle Eastern A...,Jerusalem Market & Restaurant,0.6590909090909091
63,Jerusalem Market & Restaurant Middle Eastern A...,Jerusalem Market & Restaurant,0.6590909090909091
64,Curious Cat Bakery,A Fresh Connection Cafe and Bakery,0.5
65,Curious Cat Bakery,A Fresh Connection Cafe and Bakery,0.5

Veo que la escala que tome es demasiado grande en 0.7 ya que hasta el 0.38 tenemos restaurant que tiene casi los mismo nombres y no entran por tener un adicional en el nombre o estar en mayusculas. Vuelvo a ajustar el umbral.

In [24]:
# Defino un umbral de similitud
umbral_similitud = 0.38

# Reemplazo los valores en 'name_y' con 'name_x' cuando la similitud sea mayor o igual al umbral
df_merged['name_y'] = df_merged.apply(lambda row: row['name_x'] if float(row['similarity']) >= umbral_similitud else row['name_y'], axis=1)

In [25]:
# Filtro las filas donde name_x y name_y son diferentes
filas_diferentes = df_merged[df_merged['name_x'] != df_merged['name_y']]

# Mostro las columnas 'name_x' y 'name_y' junto con el índice
columnas_deseadas = ['name_x', 'name_y','similarity']
resultados = filas_diferentes[columnas_deseadas]

# Veo los resultados
resultados.head(50)

,name_x,name_y,similarity
16,Sweet Life Cakes and Desserts,Bakery 519,0.20512820512820512
17,Sweet Life Cakes and Desserts,Bakery 519,0.20512820512820512
19,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
20,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
21,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
22,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
23,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
24,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
25,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
26,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
27,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
28,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
29,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
30,Clean Juice,Cold Stone Creamery,0.3333333333333333
32,Clean Juice,Cold Stone Creamery,0.3333333333333333
34,Clean Juice,Cold Stone Creamery,0.3333333333333333
36,Clean Juice,Cold Stone Creamery,0.3333333333333333
38,Clean Juice,Cold Stone Creamery,0.3333333333333333
40,Clean Juice,Cold Stone Creamery,0.3333333333333333
43,AVO TACO,Stokehold Restaurant,0.07142857142857142
46,Wanda BYOB,Braise 116,0.2
48,Central BBQ (Hillsboro),Sportsman's Grille,0.24390243902439024
50,Sekushi Japanese Sushi and Raw Bar,Godiva Chocolatier,0.07692307692307693
51,Sekushi Japanese Sushi and Raw Bar,Snowrolls,0.09302325581395349
52,Sekushi Japanese Sushi and Raw Bar,Frankie's Lobstah Trap,0.21428571428571427
53,Sekushi Japanese Sushi and Raw Bar,Taps Burger Bar and Gastropub,0.31746031746031744
54,Burger Culture International,Godiva Chocolatier,0.2608695652173913
55,Burger Culture International,Snowrolls,0.16216216216216217
56,Burger Culture International,Frankie's Lobstah Trap,0.16
57,Burger Culture International,Taps Burger Bar and Gastropub,0.2807017543859649
59,The Gas House Grill,Cobalt Smoke & Sea,0.16216216216216217
60,Franco's Pizzeria & Italian Ristorante,Chicken Holiday,0.18867924528301888
61,Franco's Pizzeria & Italian Ristorante,Hubba Hubba Hoagies,0.21052631578947367
67,Muse Bistro & Wine Bar,Barnyard Kitchen and Bar,0.30434782608695654
68,It's Just Wings,TGI Friday's,0.2222222222222222
69,It's Just Wings,California Cafe,0.06666666666666667
70,It's Just Wings,TGI Friday's,0.2222222222222222
71,It's Just Wings,California Cafe,0.06666666666666667
72,It's Just Wings,TGI Friday's,0.2222222222222222
73,It's Just Wings,California Cafe,0.06666666666666667
74,Tietra,Dunkin',0.15384615384615385
75,Beside the Point Coffee and Food,Rio Grande Tacos,0.20833333333333334
91,Sloppy Pelican,Shark Tales,0.24
92,Oliver's Main Street Pub,Bigelo's Bistro,0.358974358974359
93,Globe restaurant,Europa Cafe,0.2222222222222222
94,Globe restaurant,Speggtacular IRR,0.3125
100,Linx Cajun Grill,Stewart's Restaurant,0.05555555555555555
101,Linx Cajun Grill,Cosimo's Pizza,0.2
102,Linx Cajun Grill,Charleys Philly Steaks,0.21052631578947367
103,Linx Cajun Grill,Stefano Versace Gelato,0.3157894736842105

In [26]:
resultados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1894 entries, 16 to 4154
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name_x      1890 non-null   object
 1   name_y      1894 non-null   object
 2   similarity  1894 non-null   object
dtypes: object(3)
memory usage: 59.2+ KB

Tomo nocion que tenemos datos faltantes en name_x pero no en name_y con lo cual lo voy a explorar

In [27]:
# Verifico qué filas en 'name_x' tienen valores nulos
filas_con_nulos = df_merged[df_merged['name_x'].isnull()]

Voy a reemplazar los valores faltantes de name_x con los de name_y

In [28]:
# Reemplazar los valores nulos en 'name_x' con los valores de 'name_y'
df_merged['name_x'].fillna(df_merged['name_y'], inplace=True)

In [29]:
# Filtro las filas donde name_x y name_y son diferentes
filas_diferentes = df_merged[df_merged['name_x'] != df_merged['name_y']]

# Mostro las columnas 'name_x' y 'name_y' junto con el índice
columnas_deseadas = ['name_x', 'name_y','similarity']
resultados = filas_diferentes[columnas_deseadas]

# Veo los resultados
resultados.head(50)

,name_x,name_y,similarity
16,Sweet Life Cakes and Desserts,Bakery 519,0.20512820512820512
17,Sweet Life Cakes and Desserts,Bakery 519,0.20512820512820512
19,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
20,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
21,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
22,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
23,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
24,Ricardo's Mexican Restaurant & Taqueria,Dana's Cafe,0.2
25,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
26,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
27,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
28,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
29,Family Traditions Restaurant,Dana's Cafe,0.2564102564102564
30,Clean Juice,Cold Stone Creamery,0.3333333333333333
32,Clean Juice,Cold Stone Creamery,0.3333333333333333
34,Clean Juice,Cold Stone Creamery,0.3333333333333333
36,Clean Juice,Cold Stone Creamery,0.3333333333333333
38,Clean Juice,Cold Stone Creamery,0.3333333333333333
40,Clean Juice,Cold Stone Creamery,0.3333333333333333
43,AVO TACO,Stokehold Restaurant,0.07142857142857142
46,Wanda BYOB,Braise 116,0.2
48,Central BBQ (Hillsboro),Sportsman's Grille,0.24390243902439024
50,Sekushi Japanese Sushi and Raw Bar,Godiva Chocolatier,0.07692307692307693
51,Sekushi Japanese Sushi and Raw Bar,Snowrolls,0.09302325581395349
52,Sekushi Japanese Sushi and Raw Bar,Frankie's Lobstah Trap,0.21428571428571427
53,Sekushi Japanese Sushi and Raw Bar,Taps Burger Bar and Gastropub,0.31746031746031744
54,Burger Culture International,Godiva Chocolatier,0.2608695652173913
55,Burger Culture International,Snowrolls,0.16216216216216217
56,Burger Culture International,Frankie's Lobstah Trap,0.16
57,Burger Culture International,Taps Burger Bar and Gastropub,0.2807017543859649
59,The Gas House Grill,Cobalt Smoke & Sea,0.16216216216216217
60,Franco's Pizzeria & Italian Ristorante,Chicken Holiday,0.18867924528301888
61,Franco's Pizzeria & Italian Ristorante,Hubba Hubba Hoagies,0.21052631578947367
67,Muse Bistro & Wine Bar,Barnyard Kitchen and Bar,0.30434782608695654
68,It's Just Wings,TGI Friday's,0.2222222222222222
69,It's Just Wings,California Cafe,0.06666666666666667
70,It's Just Wings,TGI Friday's,0.2222222222222222
71,It's Just Wings,California Cafe,0.06666666666666667
72,It's Just Wings,TGI Friday's,0.2222222222222222
73,It's Just Wings,California Cafe,0.06666666666666667
74,Tietra,Dunkin',0.15384615384615385
75,Beside the Point Coffee and Food,Rio Grande Tacos,0.20833333333333334
91,Sloppy Pelican,Shark Tales,0.24
92,Oliver's Main Street Pub,Bigelo's Bistro,0.358974358974359
93,Globe restaurant,Europa Cafe,0.2222222222222222
94,Globe restaurant,Speggtacular IRR,0.3125
100,Linx Cajun Grill,Stewart's Restaurant,0.05555555555555555
101,Linx Cajun Grill,Cosimo's Pizza,0.2
102,Linx Cajun Grill,Charleys Philly Steaks,0.21052631578947367
103,Linx Cajun Grill,Stefano Versace Gelato,0.3157894736842105

In [30]:
resultados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1890 entries, 16 to 4154
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name_x      1890 non-null   object
 1   name_y      1890 non-null   object
 2   similarity  1890 non-null   object
dtypes: object(3)
memory usage: 59.1+ KB

Investigando las diferencias encuentro que varios de los casos corresponden a tiendas que estan en un shopping y algunos restauranes estan en la base de yelp y otros en la gmpas con lo cual procedo a eliminarlos ya que no representan un valor que nos modifique a los analisis que vamos a hacer

In [31]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4159 entries, 0 to 4158
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        4159 non-null   int64
 1   name_x            4159 non-null   object
 2   address_x         4159 non-null   object
 3   gmap_id           4159 non-null   object
 4   description       1450 non-null   object
 5   latitude          4159 non-null   float64
 6   longitude         4159 non-null   float64
 7   category          4159 non-null   object
 8   avg_rating        4159 non-null   float64
 9   num_of_reviews    4159 non-null   int64
 10  price             1913 non-null   object
 11  hours_x           3861 non-null   object
 12  MISC              4141 non-null   object
 13  state_x           3861 non-null   object
 14  relative_results  2952 non-null   object
 15  url               4159 non-null   object
 16  estado_categoria  4159 non-null   object
 17  business_id       4159 non-null   object
 18  name_y            4159 non-null   object
 19  address_y         4159 non-null   object
 20  city              4159 non-null   object
 21  state_y           4159 non-null   object
 22  postal_code       4159 non-null   object
 23  stars             4159 non-null   float64
 24  review_count      4159 non-null   int64
 25  is_open           4159 non-null   int64
 26  attributes        4080 non-null   object
 27  categories        4159 non-null   object
 28  hours_y           3683 non-null   object
 29  similarity        4159 non-null   object
dtypes: float64(4), int64(4), object(22)
memory usage: 974.9+ KB

In [32]:
# Elimino de df_merged las filas que excluyan los índices de 'resultados'
df_merged = df_merged.drop(resultados.index)

In [34]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2269 entries, 0 to 4158
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2269 non-null   int64
 1   name_x            2269 non-null   object
 2   address_x         2269 non-null   object
 3   gmap_id           2269 non-null   object
 4   description       909 non-null    object
 5   latitude          2269 non-null   float64
 6   longitude         2269 non-null   float64
 7   category          2269 non-null   object
 8   avg_rating        2269 non-null   float64
 9   num_of_reviews    2269 non-null   int64
 10  price             1210 non-null   object
 11  hours_x           2142 non-null   object
 12  MISC              2260 non-null   object
 13  state_x           2142 non-null   object
 14  relative_results  1681 non-null   object
 15  url               2269 non-null   object
 16  estado_categoria  2269 non-null   object
 17  business_id       2269 non-null   object
 18  name_y            2269 non-null   object
 19  address_y         2269 non-null   object
 20  city              2269 non-null   object
 21  state_y           2269 non-null   object
 22  postal_code       2269 non-null   object
 23  stars             2269 non-null   float64
 24  review_count      2269 non-null   int64
 25  is_open           2269 non-null   int64
 26  attributes        2240 non-null   object
 27  categories        2269 non-null   object
 28  hours_y           2077 non-null   object
 29  similarity        2269 non-null   object
dtypes: float64(4), int64(4), object(22)
memory usage: 549.5+ KB

In [35]:
# Creo un nuevo df con las columnas 'business_id' y 'gmap_id' el mismo lo vamos a usar para la union de los restaurantes que estan en ambas plataformas
df_union_yeld_and_gmaps = df_merged[['business_id', 'gmap_id']]

In [36]:
df_union_yeld_and_gmaps.to_csv('df_union_yeld_and_gmaps.csv')