In [1]:
import os
import uuid
import string
import random
import numpy as np
import pandas as pd
import geopandas as geopd

In [2]:
# modificar segun entorno local
os.chdir("/Volumes/hd_mvf_datasets/henry_data")

# no modificar
folder_data = "1_external"
folder_pipeline = "2_pipeline"
folder_output = "3_output"

FileNotFoundError: [Errno 2] No such file or directory: '/Volumes/hd_mvf_datasets/henry_data'

In [ ]:
yelp_pa_javi1 = pd.read_csv(os.path.join(folder_pipeline, 'Philly_top20.csv'))
yelp_pa_javi2 = pd.read_csv(os.path.join(folder_pipeline, 'Philly_bottom20.csv'))
yelp_pa_javi = pd.concat([yelp_pa_javi1,yelp_pa_javi2]).rename(
        columns={
            "name":"perfil_nombre"
            ,"address":"perfil_direccion"
            #,"city":"county_name"
            #,"state":"state_usps"
            ,"stars":"perfil_calificacion_yelp"
            ,"categories":"perfil_tipo"
            }
    )
list_javi_business_id = yelp_pa_javi["business_id"].unique()
yelp_pa_javi.info()
yelp_pa_javi.head(1)

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 0 to 19
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   business_id               40 non-null     object
 1   perfil_nombre             40 non-null     object
 2   perfil_direccion          40 non-null     object
 3   latitude                  40 non-null     float64
 4   longitude                 40 non-null     float64
 5   perfil_calificacion_yelp  40 non-null     float64
 6   review_count              40 non-null     float64
 7   is_open                   40 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 2.8+ KB

,business_id,perfil_nombre,perfil_direccion,latitude,longitude,perfil_calificacion_yelp,review_count,is_open
0,1w40T5J6br425rMvpS1zgQ,La Cocina del Cafe,1500 S Broad St,39.931674,-75.168458,5.0,24.0,1

In [ ]:
n_size = int(120000)
n_areas = int(n_size/6)
n_atributos = int(n_size/3)
n_tipo = int(n_size/10)
data_random_looker = pd.DataFrame({
    "kpi_1_satisfaccion": np.random.normal(loc=60, scale=15.0, size=(n_size))
    ,"kpi_2_popularidad": np.random.normal(loc=60, scale=15.0, size=(n_size))
    ,"kpi_3_lealtad": np.random.normal(loc=60, scale=15.0, size=(n_size))
    ,"cluster1_area":sum([["clstr_area_a"]*n_areas
                    ,["clstr_area_b"]*n_areas
                    ,["clstr_area_c"]*n_areas
                    ,["clstr_area_d"]*n_areas
                    ,["clstr_area_e"]*n_areas
                    ,["clstr_area_f"]*n_areas
                    #,["clstr_area_g"]*n_areas
                    #,["clstr_area_h"]*n_areas
                    ],[])
    ,"cluster2_atributos":sum([["clstr_atributo_a"]*n_atributos
                    ,["clstr_atributo_b"]*n_atributos
                    ,["clstr_atributo_c"]*n_atributos,
                    #,["clstr_atributo_d"]*n_atributos
                    ],[])
    ,"perfil_calificacion_yelp":np.random.normal(loc=60, scale=15.0, size=(n_size))
    ,"perfil_calificacion_gmaps":np.random.normal(loc=60, scale=15.0, size=(n_size))
    ,"perfil_nombre":((''.join(random.choice(string.ascii_lowercase) for i in range(10))) for i in range(n_size))
    ,"perfil_direccion":((''.join(random.choice(string.ascii_lowercase) for i in range(10))) for i in range(n_size))
    ,"perfil_tipo":["comida_a","comida_b","comida_c","comida_d","comida_e"]*2*n_tipo
    ,"perfil_otros":((''.join(random.choice(string.ascii_lowercase) for i in range(10))) for i in range(n_size))
    })
data_random_looker["kpi_4_indice"] = (
    (data_random_looker["kpi_1_satisfaccion"]*0.4) +
    (data_random_looker["kpi_2_popularidad"]*0.3) +
    (data_random_looker["kpi_3_lealtad"]*0.3)
    )
data_random_looker.head()

,kpi_1_satisfaccion,kpi_2_popularidad,kpi_3_lealtad,cluster1_area,cluster2_atributos,perfil_calificacion_yelp,perfil_calificacion_gmaps,perfil_nombre,perfil_direccion,perfil_tipo,perfil_otros,kpi_4_indice
0,75.347841,48.746551,64.705634,clstr_area_a,clstr_atributo_a,66.294855,57.878909,lbitrnggft,uuiyxjtebp,comida_a,ynuumpjgxp,64.174792
1,52.324089,72.545789,79.663139,clstr_area_a,clstr_atributo_a,37.388390,40.874485,uryasjozmn,rsrmtnhvsg,comida_b,fugjdhuflc,66.592314
2,96.724015,45.528996,79.164741,clstr_area_a,clstr_atributo_a,51.286542,64.233632,qybgqmiuqm,ojjrftvvzf,comida_c,bpumfyqvay,76.097727
3,53.403058,61.898773,40.607826,clstr_area_a,clstr_atributo_a,66.386066,74.953025,mqhnmbqdua,wmyzyumhpm,comida_d,bcnoqkplmq,52.113203
4,55.365078,56.911731,62.109523,clstr_area_a,clstr_atributo_a,79.868175,68.148966,ovarxnxzlh,fuyjdzcwlb,comida_e,azlzlbwrxq,57.852407

In [ ]:
yelp_geodf_zcta_census = pd.read_pickle(
    os.path.join(folder_pipeline, 'data_zcta_varsxarea.pkl')).dropna().iloc[:,[0,1,2,17,18,19]]
yelp_geodf_zcta_census.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 165586 entries, 0 to 166416
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  165586 non-null  string
 1   latitude     165586 non-null  Float64
 2   longitude    165586 non-null  Float64
 3   state_name   165586 non-null  object
 4   state_usps   165586 non-null  object
 5   county_name  165586 non-null  object
dtypes: Float64(2), object(3), string(1)
memory usage: 9.2+ MB

In [ ]:
#yelp_geodf_zcta_census = yelp_geodf_zcta_census[~yelp_geodf_zcta_census.business_id.isin(list_javi_business_id)].copy()
n_sample = len(data_random_looker.index)
yelp_geodf_zcta_census_sample = yelp_geodf_zcta_census.sample(n=n_sample)
yelp_geodf_zcta_census_sample.reset_index(drop=True, inplace=True)
data_random_looker = data_random_looker.join(yelp_geodf_zcta_census_sample)
data_random_looker.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   kpi_1_satisfaccion         120000 non-null  float64
 1   kpi_2_popularidad          120000 non-null  float64
 2   kpi_3_lealtad              120000 non-null  float64
 3   cluster1_area              120000 non-null  object
 4   cluster2_atributos         120000 non-null  object
 5   perfil_calificacion_yelp   120000 non-null  float64
 6   perfil_calificacion_gmaps  120000 non-null  float64
 7   perfil_nombre              120000 non-null  object
 8   perfil_direccion           120000 non-null  object
 9   perfil_tipo                120000 non-null  object
 10  perfil_otros               120000 non-null  object
 11  kpi_4_indice               120000 non-null  float64
 12  business_id                120000 non-null  string
 13  latitude                   120000 non-null  Float64
 14  longitude                  120000 non-null  Float64
 15  state_name                 120000 non-null  object
 16  state_usps                 120000 non-null  object
 17  county_name                120000 non-null  object
dtypes: Float64(2), float64(6), object(9), string(1)
memory usage: 16.7+ MB

In [ ]:
#yelp_geodf_zcta_census_javi = pd.concat([data_random_looker,yelp_pa_javi])
data_random_looker["geo_looker"] = data_random_looker["latitude"].astype(str)+","+data_random_looker["longitude"].astype(str)
#data_random_looker["geo_point"] = data_random_looker.apply(lambda row: f"POINT({row['longitude']} {row['latitude']})", axis=1)
data_random_looker.head(2)

,kpi_1_satisfaccion,kpi_2_popularidad,kpi_3_lealtad,cluster1_area,cluster2_atributos,perfil_calificacion_yelp,perfil_calificacion_gmaps,perfil_nombre,perfil_direccion,perfil_tipo,perfil_otros,kpi_4_indice,business_id,latitude,longitude,state_name,state_usps,county_name,geo_looker
0,75.347841,48.746551,64.705634,clstr_area_a,clstr_atributo_a,66.294855,57.878909,lbitrnggft,uuiyxjtebp,comida_a,ynuumpjgxp,64.174792,s8PAlOSo7_S9PAkzakoIIA,39.529122,-119.813785,nevada,NV,washoe county,"39.5291224,-119.8137852"
1,52.324089,72.545789,79.663139,clstr_area_a,clstr_atributo_a,37.388390,40.874485,uryasjozmn,rsrmtnhvsg,comida_b,fugjdhuflc,66.592314,NcppaKnuJ3u3QtQoCjnUfw,43.615813,-116.27383,idaho,ID,ada county,"43.615813,-116.27383"

In [ ]:
#data_random_looker.drop(columns=["latitude","longitude"], inplace=True)
data_random_looker.to_csv(
    os.path.join(folder_output, 'data_output_lookerstudio.csv'))
#yelp_geodf_zcta_census_javi.info()
data_random_looker.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   kpi_1_satisfaccion         120000 non-null  float64
 1   kpi_2_popularidad          120000 non-null  float64
 2   kpi_3_lealtad              120000 non-null  float64
 3   cluster1_area              120000 non-null  object
 4   cluster2_atributos         120000 non-null  object
 5   perfil_calificacion_yelp   120000 non-null  float64
 6   perfil_calificacion_gmaps  120000 non-null  float64
 7   perfil_nombre              120000 non-null  object
 8   perfil_direccion           120000 non-null  object
 9   perfil_tipo                120000 non-null  object
 10  perfil_otros               120000 non-null  object
 11  kpi_4_indice               120000 non-null  float64
 12  business_id                120000 non-null  string
 13  latitude                   120000 non-null  Float64
 14  longitude                  120000 non-null  Float64
 15  state_name                 120000 non-null  object
 16  state_usps                 120000 non-null  object
 17  county_name                120000 non-null  object
 18  geo_looker                 120000 non-null  object
dtypes: Float64(2), float64(6), object(10), string(1)
memory usage: 17.6+ MB

In [ ]:
list_business_id = []
for i in range(min(data_random_looker.index),max(data_random_looker.index)+1):
    business_id = str(uuid.uuid4().hex)
    dict_case = {'index':i,'business_id':business_id}
    list_business_id.append(dict_case)
data_random_business_id = pd.DataFrame(list_business_id).set_index('index')