In [1]:
# manipulacion de archivos
import os
import json
import warnings

# manipulacion y transformacion de datos
import numpy as np
import pandas as pd

# libreria con datos por codigo postal segun US Census 2010
from uszipcode import SearchEngine
zcengine = SearchEngine(simple_or_comprehensive=SearchEngine.SimpleOrComprehensiveArgEnum.comprehensive)

Download /Users/manuel/.uszipcode/comprehensive_db.sqlite from https://github.com/MacHu-GWU/uszipcode-project/releases/download/1.0.1.db/comprehensive_db.sqlite ...
  50.00 MB downloaded ...
  100.00 MB downloaded ...
  150.00 MB downloaded ...
  200.00 MB downloaded ...
  250.00 MB downloaded ...
  300.00 MB downloaded ...
  350.00 MB downloaded ...
  400.00 MB downloaded ...
  Complete!

In [2]:
# modificar segun entorno local
os.chdir( "/Volumes/hd_mvf_datasets/henry_data")
folder_yelp = "yelp"

# no modificar
folder_data = "1_external"
folder_pipeline = "2_pipeline"
folder_output = "3_output"

In [3]:
business_df = pd.read_pickle(os.path.join(folder_data,folder_yelp, 'business.pkl')).convert_dtypes().iloc[:, :14]
business_df.info()
business_df.head(2)

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  string
 1   name          150346 non-null  string
 2   address       150346 non-null  string
 3   city          150346 non-null  string
 4   state         150343 non-null  string
 5   postal_code   150346 non-null  string
 6   latitude      150346 non-null  Float64
 7   longitude     150346 non-null  Float64
 8   stars         150346 non-null  Float64
 9   review_count  150346 non-null  Int64
 10  is_open       150346 non-null  Int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  string
 13  hours         127123 non-null  object
dtypes: Float64(3), Int64(2), object(2), string(7)
memory usage: 17.9+ MB

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,<NA>,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,<NA>,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."

In [5]:
# business_df["postal_code"] = business_df["postal_code"].astype(int)
business_df_usa = business_df[pd.to_numeric(business_df["postal_code"], errors="coerce").notnull()].copy()
print(round(len(business_df_usa) / len(business_df) * 100,2),"%")

96.26 %

In [6]:
sample = round(len(business_df_usa) * 0.3)
business_df_sample = business_df_usa.sample(n=sample).copy()
business_df_sample.info()
business_df_sample.head(2)

<class 'pandas.core.frame.DataFrame'>
Index: 43415 entries, 128287 to 42343
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   43415 non-null  string
 1   name          43415 non-null  string
 2   address       43415 non-null  string
 3   city          43415 non-null  string
 4   state         43415 non-null  string
 5   postal_code   43415 non-null  string
 6   latitude      43415 non-null  Float64
 7   longitude     43415 non-null  Float64
 8   stars         43415 non-null  Float64
 9   review_count  43415 non-null  Int64
 10  is_open       43415 non-null  Int64
 11  attributes    39511 non-null  object
 12  categories    43381 non-null  string
 13  hours         36706 non-null  object
dtypes: Float64(3), Int64(2), object(2), string(7)
memory usage: 5.2+ MB

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
128287,OL-rfiSIdVIsndUZ6ueWMA,Jimmy John's,1410 66th St,St. Petersburg,PA,33710,27.785563,-82.728919,2.5,25,1,"{'RestaurantsReservations': 'False', 'Restaura...","Restaurants, Sandwiches, Food, Caterers, Food ...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
2286,AFIkxCPqO7613NHEIL8abQ,Heritage's,501 Beckett Rd,Swedesboro,TN,08085,39.758094,-75.355678,4.5,5,1,"{'RestaurantsReservations': 'False', 'Ambience...","Food, Breakfast & Brunch, Convenience Stores, ...",None

In [19]:
ejemplo = zcengine.by_coordinates(28.045327,-82.681849, radius=1, returns=2)
ejemplo[0].owner_occupied_home_values

[{'key': 'Data',
  'values': [{'x': '$1-$24,999', 'y': 138},
   {'x': '$25,000-$49,999', 'y': 84},
   {'x': '$50,000-$99,999', 'y': 975},
   {'x': '$100,000-$149,999', 'y': 980},
   {'x': '$150,000-$199,999', 'y': 1133},
   {'x': '$200,000-$399,999', 'y': 1534},
   {'x': '$400,000-$749,999', 'y': 858},
   {'x': '$750,000+', 'y': 156}]}]

In [7]:
business_df_sample["postal_code_check"] = np.nan
business_df_sample["state_check"] = np.nan
business_df_sample["city_check"] = np.nan
warnings.simplefilter(action='ignore', category=Warning)
for i in business_df_sample.index:
    lat = business_df_sample._get_value(i, "latitude")
    lng = business_df_sample._get_value(i, "longitude")
    zipcode = zcengine.by_coordinates(lat,lng, radius=10, returns=2)
    try:
        business_df_sample["postal_code_check"].iloc[business_df_sample.index==i] = zipcode[0].zipcode
        business_df_sample["state_check"].iloc[business_df_sample.index==i] = zipcode[0].state
        business_df_sample["city_check"].iloc[business_df_sample.index==i] = zipcode[0].major_city
    except:
        business_df_sample["postal_code_check"].iloc[business_df_sample.index==i] = np.nan
        business_df_sample["state_check"].iloc[business_df_sample.index==i] = np.nan
        business_df_sample["city_check"].iloc[business_df_sample.index==i] = np.nan
warnings.resetwarnings()

In [8]:
business_df_sample_flag = business_df_sample.dropna().copy().convert_dtypes()
business_df_sample_flag.info()

<class 'pandas.core.frame.DataFrame'>
Index: 113484 entries, 53749 to 79623
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   business_id        113484 non-null  string
 1   name               113484 non-null  string
 2   address            113484 non-null  string
 3   city               113484 non-null  string
 4   state              113484 non-null  string
 5   postal_code        113484 non-null  string
 6   latitude           113484 non-null  Float64
 7   longitude          113484 non-null  Float64
 8   stars              113484 non-null  Float64
 9   review_count       113484 non-null  Int64
 10  is_open            113484 non-null  Int64
 11  attributes         113484 non-null  object
 12  categories         113484 non-null  string
 13  hours              113484 non-null  object
 14  postal_code_check  113484 non-null  string
 15  state_check        113484 non-null  string
 16  city_check         113484 non-null  string
dtypes: Float64(3), Int64(2), object(2), string(10)
memory usage: 16.1+ MB

In [9]:
print(round(len(business_df_sample_flag) / len(business_df_sample) * 100,2),"%")

78.42 %

In [10]:
business_df_sample_flag["postalcode_flag"] = np.where(business_df_sample_flag["postal_code"] != business_df_sample_flag["postal_code_check"], 1, 0)
business_df_sample_flag["postalcode_flag_round"] = np.where(
    round(business_df_sample_flag["postal_code"].astype(int),-1) != round(business_df_sample_flag["postal_code_check"].astype(int),-1), 1, 0)
business_df_sample_flag["state_flag"] = np.where(business_df_sample_flag["state"] != business_df_sample_flag["state_check"], 1, 0)
business_df_sample_flag["city_flag"] = np.where(business_df_sample_flag["city"] != business_df_sample_flag["city_check"], 1, 0)
business_df_sample_flag_state = business_df_sample_flag.loc[business_df_sample_flag["state_flag"] == 1].copy()
business_df_sample_flag_state[["postalcode_flag","postalcode_flag_round","state_flag","city_flag"]].sum()/len(business_df_sample_flag.index)*100

postalcode_flag          29.947834
postalcode_flag_round    21.013535
state_flag               87.802686
city_flag                16.952169
dtype: float64