In [1]:
import json
#from google.colab import files # solo para google collab
from google.cloud import storage
import pandas as pd
print(storage.__version__)

2.6.0

In [2]:
# google collab
# solo se ejecuta la primera vez: cargo el json con las credenciales del api key
#object_uploaded = files.upload()

# google collab
path_api_key = '/content/extreme-unison-399121-cadd77c555ca.json'

# entorno local
#path_api_key = 'gcloud_api_key/extreme-unison-399121-cadd77c555ca.json'

# extraigo las credenciales para el acceso
service_account_info = json.load(open(path_api_key))

# autorizo el acceso a cloud storage
client_storage = storage.Client.from_service_account_info(service_account_info)

In [3]:
# carga de datos
# para entorno Google Colab o maquina local:

# cambiar segun bucket
bucket = client_storage.get_bucket('1_transform')

# cambiar segun dataframe
data_blob = bucket.blob('business_metadata_filtrado.parquet')
data_business_metadata = pd.read_parquet(storage.fileio.BlobReader(data_blob))
data_business_metadata.info()
data_business_metadata.head(2)

<class 'pandas.core.frame.DataFrame'>
Index: 335844 entries, 0 to 61680
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   business_id             335844 non-null  object
 1   name                    335844 non-null  object
 2   address                 334362 non-null  object
 3   description             113470 non-null  object
 4   latitude                335844 non-null  Float64
 5   longitude               335844 non-null  Float64
 6   categories              335844 non-null  object
 7   rating_historico        335844 non-null  Float64
 8   review_count_historico  335844 non-null  Int64
 9   price                   148685 non-null  object
 10  hours-state_cat         274163 non-null  object
 11  attributes              331231 non-null  object
 12  codigo_postal_zcta      335844 non-null  object
 13  us_continente           335844 non-null  int64
 14  state_name              335843 non-null  object
 15  state_code              335843 non-null  object
dtypes: Float64(3), Int64(1), int64(1), object(11)
memory usage: 44.8+ MB

,business_id,name,address,description,latitude,longitude,categories,rating_historico,review_count_historico,price,hours-state_cat,attributes,codigo_postal_zcta,us_continente,state_name,state_code
0,0x0:0x2ab217fc59211262,Sidelines Grille,"Sidelines Grille, 3405 Busbee Dr NW, Kennesaw,...",None,34.034708,-84.575423,restaurant,2.3,3,None,Specific Hours,"{'AcceptsInsurance': None, 'Accessibility': ['...",30144,1,georgia,GA
1,0x1412bcfc0336fce9:0x33da3c68ef2176ac,Aztlan Foods Corp,"Aztlan Foods Corp, 9110 NW 106th St, Medley, F...",None,25.869479,-80.347611,food products supplier,4.7,8,None,Open,None,33178,1,florida,FL

In [4]:
# carga de datos
# para entorno Google Colab o maquina local:

# cambiar segun bucket
bucket = client_storage.get_bucket('1_transform')

# cambiar segun dataframe
data_blob = bucket.blob('business_reviews_norm.parquet')
data_business_reviews = pd.read_parquet(storage.fileio.BlobReader(data_blob))
data_business_reviews.info()
data_business_reviews.head(2)

<class 'pandas.core.frame.DataFrame'>
Index: 1531095 entries, 0 to 415753
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   business_id         1531095 non-null  object
 1   user_id             1531095 non-null  object
 2   rating              1531095 non-null  float64
 3   user_text           1101628 non-null  object
 4   user_time_year      1531095 non-null  int32
 5   user_time_month     1531095 non-null  int32
 6   user_time_day       1531095 non-null  int32
 7   user_time_hms       1531095 non-null  object
 8   state_name          1531095 non-null  object
 9   state_code          1531095 non-null  object
 10  codigo_postal_zcta  1531095 non-null  int64
dtypes: float64(1), int32(3), int64(1), object(6)
memory usage: 122.7+ MB

,business_id,user_id,rating,user_text,user_time_year,user_time_month,user_time_day,user_time_hms,state_name,state_code,codigo_postal_zcta
0,0x88892bb449d44cb3:0x7beaf0b2e3171a49,110771718750038252970,2.0,"No masks, requested curbside and waited 10 min...",2021,8,27,02:29:34.725000,alabama,AL,35115
1,0x88892bb449d44cb3:0x7beaf0b2e3171a49,104877410053821600291,5.0,This location does an awesome job! The delive...,2020,10,10,02:42:56.261000,alabama,AL,35115