In [4]:
import json
#from google.colab import files # solo para google collab
from google.cloud import storage
import pandas as pd
print(storage.__version__)

2.6.0

In [5]:
# google collab
#path_api_key = '/content/extreme-unison-399121-cadd77c555ca.json'

# entorno local
path_api_key = '/Users/manuel/gdrive/prgrmmng/gcloud_api_key/extreme-unison-399121-cadd77c555ca.json'

# extraigo las credenciales para el acceso
service_account_info = json.load(open(path_api_key))

# autorizo el acceso a cloud storage
client_storage = storage.Client.from_service_account_info(service_account_info)

In [6]:
# carga de datos
# unicamente para .py en VM:
#data_gmaps_reviews_norm = pd.read_parquet('gs://1_transform/data_gmaps_reviews_norm.parquet')

# para entorno Google Colab o maquina local:

# cambiar segun bucket
bucket = client_storage.get_bucket('1_transform')

# cambiar segun dataframe
data_blob = bucket.blob('gmaps_metadata_filtrado.parquet')
data_gmaps_metadata = pd.read_parquet(storage.fileio.BlobReader(data_blob))
data_gmaps_metadata.info()
data_gmaps_metadata.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350619 entries, 0 to 350618
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gmap_id          350619 non-null  object
 1   name             350619 non-null  object
 2   address          348705 non-null  object
 3   description      144867 non-null  object
 4   latitude         350619 non-null  float64
 5   longitude        350619 non-null  float64
 6   category         350619 non-null  object
 7   avg_rating       350619 non-null  float64
 8   num_of_reviews   350619 non-null  int64
 9   price            190566 non-null  object
 10  hours-state_cat  350619 non-null  object
 11  hours            306829 non-null  object
 12  MISC             345712 non-null  object
 13  geo_point        350619 non-null  object
 14  zcta5_geoid      350619 non-null  object
 15  geo_looker       350619 non-null  object
 16  us_continente    350619 non-null  int64
 17  state_name       350618 non-null  object
 18  state_code       350618 non-null  object
 19  county_name      350618 non-null  object
dtypes: float64(3), int64(2), object(15)
memory usage: 53.5+ MB

,gmap_id,name,address,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours-state_cat,hours,MISC,geo_point,zcta5_geoid,geo_looker,us_continente,state_name,state_code,county_name
0,0x0:0x2ab217fc59211262,Sidelines Grille,"Sidelines Grille, 3405 Busbee Dr NW, Kennesaw,...",None,34.034708,-84.575423,restaurant,2.3,3,None,Specific Hours,None,{'Accessibility': ['Wheelchair accessible seat...,b'\x01\x01\x00\x00\x00p\x97\xfd\xba\xd3$U\xc0m...,30144,"34.034708,-84.575423",1,georgia,GA,cobb county
1,0x1412bcfc0336fce9:0x33da3c68ef2176ac,Aztlan Foods Corp,"Aztlan Foods Corp, 9110 NW 106th St, Medley, F...",None,25.869479,-80.347611,food products supplier,4.7,8,None,Open,"[[Tuesday, 8AM–5:30AM], [Wednesday, 8AM–5:30AM...",None,b'\x01\x01\x00\x00\x00!o^A?\x16T\xc0\xe2\x0fP+...,33178,"25.869478899999997,-80.3476108",1,florida,FL,miami-dade county